
Notes/AZURE Language model/config/default.json
HW4/config/default.json
Notes/AZURE Computer Vision/Samples/01.image-recognition/key.js
Notes/AZURE Computer Vision/Samples/01.image-recognition/key.js
Notes/AZURE Computer Vision/Samples/01.image-recognition/key.js
Mini_Hackathon/config.json
Notes/AZURE Computer Vision/Samples/03.translate-text/key.js
Mini_Hackathon/key.txt
